.thumbnail-container {
  background: var(--polaroid);
  position: relative;
  padding: 5px;
  overflow: show;

  .thumbnail {
    background-color: #9d9d9d;
    height: 160px;
    width: 160px;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
  }

  .thumbnail-control {
    background-color: #070217;
    color: var(--primary);
    font-weight: bold;
    font-size: 16px;
    font-family: var(--font-gloria);
    padding: 2px 15px;
    border-radius: 5px;

    &:hover {
      background-color: var(--secondary-hover);
    }
  }
}