@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #BD9CEA;
  --primary-hover: #A475F9;
  --secondary: #070217;
  --secondary-hover: #1C0E3E;
  --warning: #b40707;
  --warning-hover: #9c0909;
  --polaroid: #f4f5f2;
  --toastify-color-success: var(--primary);
  --toastify-font-family: var(--font-manrope);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-warning: var(--warning);
  --color-warning-hover: var(--warning-hover);
  --color-polaroid: var(--polaroid);
  --font-primary: var(--font-comico);
  --font-secondary: var(--font-manrope);
  --font-sub: var(--font-monomaniac);
}

body {
  /* background: linear-gradient(0deg, #070217, #070217), radial-gradient(111.1% 37.09% at 49.87% 0%, #130249 0%, #070217 100%); */
  background: var(--secondary);
  color: #FFF;
  font-family: var(--font-comico);
}

.grecaptcha-badge {
  visibility: hidden;
}

.centered-col {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.close-btn {
  background-color: #0000006b;
}

.hide {
  pointer-events: none !important;
  opacity: 0 !important;
}

.fade-component {
  opacity: 100;
  transition-property: opacity;
  transition-duration: 150ms;
}

.fade-in {
  transition: opacity 0.3s cubic-bezier(0.3, 0.2, 0.2, 0.8);
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 19px;
}

p {
  font-size: 12px;
}

button {
  cursor: pointer;

  &:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}

header {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}