@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #BD9CEA;
  --primary-hover: #A475F9;
  --secondary: #070217;
  --secondary-hover: #1C0E3E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --font-primary: var(--font-comico);
  --font-secondary: var(--font-manrope);
}

body {
  background: linear-gradient(0deg, #070217, #070217), radial-gradient(111.1% 37.09% at 49.87% 0%, #130249 0%, #070217 100%);
  color: #FFF;
  font-family: var(--font-comico);
}

.centered-col {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 19px;
}

p {
  font-size: 12px;
}

button {
  cursor: pointer;
}

header {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}