@use 'sass:math';

.gallery-slide {
  background-color: #e7e9e5;
  padding: 15px 10px 0px 10px;

  .img-container {
    width: 80vw;
    max-width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-gloria)
  }
}

.gallery-btn {
  font-family: var(--font-gloria);
  color: var(--secondary);
  padding: 5px 20px;
}

ul.polaroids li {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  transform: rotate(2deg);
}

/* Don't rotate every third image, but offset its position */
ul.polaroids li:nth-child(3n) {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  position: relative;
  top: -5px;
}

/* Rotate every fifth image by 5 degrees and offset it */
ul.polaroids li:nth-child(5n) {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  transform: rotate(5deg);
  position: relative;
  right: 5px;
}

/* Keep default rotate for every eighth, but offset it */
ul.polaroids li:nth-child(8n) {
  position: relative;
  top: 8px;
  right: 5px;
}

/* Keep default rotate for every eleventh, but offset it */
ul.polaroids li:nth-child(11n) {
  position: relative;
  top: 3px;
  left: -5px;
}


// .gallery-wrapper {
//   position: relative;
//   width: 220px;
// }

// .gallery {
//   display: grid;
//   width: 100%;
//   aspect-ratio: 1;
//   position: relative;


//   > .gallery-img {
//     grid-area: 1/1;
//     width: 100%;
//     object-fit: cover;
//     border: 10px solid #f2f2f2;
//     background-color: #F2f2f2;
//     box-shadow: 0 0 4px #0007;
//     position: absolute;
//     top: 0;
//     left: 0;
//     transition: transform 0.6s ease, z-index 0s 0.6s;
//     z-index: 1;
//     // opacity: 0;
//     pointer-events: none;
//   }

//   > .gallery-img.active {
//     z-index: 2;
//     transform: translateX(0%) rotate(0deg) !important;
//     opacity: 1;
//     pointer-events: auto;
//     transition: transform 0.6s ease, z-index 0s;
//   }

//   > .gallery-img.prev {
//     transform: translateX(-120%) rotate(var(--r));
//     opacity: 1;
//     z-index: 1;
//   }

//   > .gallery-img.next {
//     transform: translateX(120%) rotate(var(--r));
//     opacity: 1;
//     z-index: 1;
//   }
// }
// $n: 5;
// /* number of images*/

// .gallery {
//   --d: 20s;
//   /* duration */

//   display: grid;
//   width: 220px;
// }

// .gallery>img {
//   grid-area: 1/1;
//   width: 100%;
//   aspect-ratio: 1;
//   object-fit: cover;
//   border: 10px solid #f2f2f2;
//   box-shadow: 0 0 4px #0007;
//   z-index: 2;
//   animation:
//     slide var(--d) infinite,
//     z-order var(--d) infinite steps(1);
// }

// .gallery img:last-child {
//   animation-name: slide, z-order-last;
// }

// @for $i from 1 to ($n + 1) {
//   .gallery>img:nth-child(#{$i}) {
//     animation-delay: calc(#{calc((1 - $i) / $n)} * var(--d));
//     --r: #{(-20 + math.random(40)) * 1deg};
//   }
// }

// @keyframes slide {
//   #{calc(50 / $n)}% {
//     transform: translateX(120%) rotate(var(--r));
//   }

//   0%,
//   100%,
//   #{calc(100 / $n)}% {
//     transform: translateX(0%) rotate(var(--r));
//   }
// }

// @keyframes z-order {

//   #{calc(50 / $n)}%,
//   #{calc(100 / $n)}% {
//     z-index: 1;
//   }

//   #{100 - calc(100 / $n)}% {
//     z-index: 2;
//   }
// }

// @keyframes z-order-last {

//   #{calc(50 / $n)}%,
//   #{calc(100 / $n)}% {
//     z-index: 1;
//   }

//   #{100 - calc(50 / $n)}% {
//     z-index: 2;
//   }
// }