@use 'sass:math';

.gallery-slide {
  background-color: #e7e9e5;
  padding: 15px 10px 0px 10px;

  .img-container {
    width: 80vw;
    max-width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-gloria)
  }
}

.gallery-btn {
  background-color: #ffffffa7;
  border-radius: 50%;
  font-family: var(--font-gloria);
  color: var(--secondary);
  padding: 5px 20px;
}