.gallery-container {
  // display: grid;
  // position: relative;
  // grid-template-columns: repeat(auto-fit, 165px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 25px;
  column-gap: 15px;

  .hide {
    pointer-events: none !important;
    opacity: 0 !important;
  }

  .fade-component {
    opacity: 100;
    transition-property: opacity;
    transition-duration: 150ms;
  }

  .thumbnail-container {
    background: var(--polaroid);
    position: relative;
    padding: 5px;

    .thumbnail-control {
      background-color: #070217;
      color: var(--primary);
      font-weight: bold;
      font-size: 16px;
      font-family: var(--font-gloria);
      padding: 2px 15px;
      border-radius: 5px;

      &:hover {
        background-color: var(--secondary-hover);
      }
    }
  }
}

.modal {
  background-color: #07021798;
  height: 100vh;
  width: 100vw;
}

.delete-btn {
  position: absolute;
  top: -4px;
  left: -8px;
  z-index: 2;
  background-color: #b40707;
  color: #ffffffc9;
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 6px;
}

/* By default, we tilt all our images -2 degrees */
ul.polaroids li {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  transform: rotate(2deg);
}

/* Don't rotate every third image, but offset its position */
ul.polaroids li:nth-child(3n) {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  position: relative;
  top: -5px;
}

/* Rotate every fifth image by 5 degrees and offset it */
ul.polaroids li:nth-child(5n) {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  transform: rotate(5deg);
  position: relative;
  right: 5px;
}

/* Keep default rotate for every eighth, but offset it */
ul.polaroids li:nth-child(8n) {
  position: relative;
  top: 8px;
  right: 5px;
}

/* Keep default rotate for every eleventh, but offset it */
ul.polaroids li:nth-child(11n) {
  position: relative;
  top: 3px;
  left: -5px;
}